body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{
  background: black;
}
.myimg{
  height: 200px;
  background: #aaa;
}
#heading{
  background: black;
  color: white;
}
.heading{
  background: black;
  color: white;

}
@media screen and(max-width:1000px){
  .myname{
    font-size: 3vw;
  }
  .myoccupation{
    font-size: 2.5vw;
  }
  .navigation{
    font-size: 2vw;
  }
  .myskills{
    font-size: 2.5vw;
  }
  .skills{
    font-size: 2.25vw;
  }
  .th{
    font-size: 2vw;
  }
  .td{
    font-size: 1.5vw;
  }
  .footer{
    font-size: 2vw;
  }
}
